<script>
  fetch('/api/v1.0/users')
    .then(res => res.json())
    .then(users => {
      const list = document.getElementById('users');

      users.forEach(user => {
        const li = document.createElement('li');
        li.textContent = user.firstName + ' ' + user.lastName;
        list.appendChild(li);
      });
    });
</script>

<ul id="users"></ul>

<script>
  const token = localStorage.getItem("token");

  fetch('/api/v1.0/posts', {
    headers: {
      Authorization: `Bearer ${token}`
    }
  })
    .then(res => res.json())
    .then(posts => {
      const list = document.getElementById('posts');

      posts.forEach(post => {
        const li = document.createElement('li');
        li.textContent = post.title;
        list.appendChild(li);
      });
    });
</script>

<ul id="posts"></ul>